
.card {
    background-color: rgb(112, 160, 175);
}

.btn:hover {
    background-color: rgb(112, 105, 147)
}

.btn {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  margin: 2%;
}

.title {
    margin-bottom: 5%;
    font-size: 200%;
    text-decoration: underline;
}

.text{
    margin-top: 3%;
}

