.page{
    font-family: "Josefin Sans", sans-serif;
}

.text{
    list-style-type: none;
    font-size: 150%;
}

h1{
    text-decoration: underline;
}

p{
    margin-top: 5%;
    font-size: larger;
}

.resume {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
  }