.navbar{
    background-color: rgb(160, 193, 185);
}

.btn:hover {
    background-color: rgb(112, 105, 147)
}

.name{
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 400%;
  color: black;
}

